body {
    margin: 0;
    width: fit-content;
}
section{
   
}
.sidebar{
    width: 186px;
    background-color: #292e2e;
    position: fixed;
    height: 100%;
}

.sidebar  p:hover {
    color: #f1f1f1;
}
#np-img { 
    display: block;
    border-radius: 50%;
    width: 128px;
    border: 5px solid #343A40;
    margin-left:auto;
    margin-right: auto; 
    margin-top: auto;  
}

div .info{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.test {
    padding-top: 40%;
}

.d-flex{
    display: flex;
}

.big-img {
    width: 100%;
    padding-left: 180px;
    position: fixed;
    object-position: center;
    opacity: .7;
}

.some-div {
    position: relative;
    display: inline-block;
    padding-left: 600px;
    padding-top: 150px;
    
}

.greet {
    
    position: relative; 
    width: 100%; 
    height: 20px;
    color: black;
    font-weight: bold;
    text-align: center;
    margin: 0px;
}

.name {
    position: relative; 
    width: 100%; 
    height: 20px;
    color: black;
    font-weight: bold;
    text-align: center;
    margin: 0px;
}

